---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Gayathri P" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Gaythri at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						
Hi! I’m a passionate and driven 3rd-year Computer Science student at KL University, diving into the exciting worlds of cyber and blockchain, cloud computing, and artificial intelligence. I’ve had hands-on experience with a variety of technologies and with a solid foundation in data structures, algorithms, and software design, I love tackling new challenges and learning every day.
</p>
<p>
I’m actively involved in hackathons and open-source projects, having contributed to programs like GirlScript Summer of Code 2024 and Timechain Summer of Code 2024. Currently, I’m a Software Engineering Fellow at Headstarter AI, where I’m honing my skills and contributing to cutting-edge projects.
</p>
<p>
I’m also working on the Wallstreet DAO project, where we’re in the process of building a website for our community. Although we haven’t launched yet, it’s an exciting initiative that brings together my interests in web3 and blockchain.
</p>
<p>
With global certifications from Red Hat, MongoDB, and AWS, I’ve shown my skills in enterprise application development, cloud solutions, and database management. My projects, which range from innovative web applications to blockchain-integrated platforms, highlight my commitment to leveraging technology for impactful solutions.
</p>
<p>
My mission is to blend technical proficiency with creativity to drive technological advancements and tackle exciting challenges. Let’s build something amazing together!
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>KL University, Hyderabad (2022 - 2026)</p>
					<ul>
						<li>Semester 1: SGPA - 9.11</li>
						<li>Semester 2: SGPA - 9.14</li>
						<li>Semester 3: SGPA - 9.32</li>
						<li>Semester 4: SGPA - 9.8</li>
						<li>Overall CGPA - 9.36</li>
					  </ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>This will never end I assure</p>
					<ul>
						<li>JavaScript</li>
						<li>React</li>
						<li>Node.js</li>
						<li>HTML/CSS</li>
						<li>Python</li>
						<li>Java</li>
						<li>C</li>
						<li>SQL</li>
						<li>MongoDB</li>
						<li>Git/GitHub</li>
						<li>ExpressJS</li>
						<li>Django</li>
						<li>AWS Fundamentals</li>
						<li>LINUX/UNIX</li>
						<li>TypeScript</li>
						<li>Web3</li>
						<li>Blockchain</li>
						<li>Bitcoin Script</li>
						<li>Solidity</li>
						<li>Cybersecurity</li>
						<li>Flask</li>
						<li>Docker</li>
						<li>Kubernetes</li>
						<li>AI</li>
						<li>Cloud Computing</li>
						<li>RESTful APIs</li>
						<li>Postman</li>
						<li>Swagger</li>
						<li>Adobe Creative Cloud</li>
						<li>Figma</li>
						<li>Flutter</li>
						<li>Svelte</li>
						<li>Next.js</li>
						<li>Nest.js</li>
					  </ul>
					  
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
